apipkg==1.5
Appium-Python-Client==1.0.1
attrs==19.3.0
certifi==2022.12.7
chardet==3.0.4
decorator==4.4.2
execnet==1.7.1
idna==2.10
importlib-metadata==1.7.0
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.4.3
pytest-forked==1.2.0
requests==2.24.0
selenium==3.141.0
six==1.15.0
testproject-python-sdk==0.63.13
urllib3==1.26.5
wcwidth==0.2.5
zipp==3.1.0
